{% extends 'orchestrator_app/base.html' %}

{% block content%}
    <br>
    <form action="{% url 'new-robot' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">ADD NEW ROBOT</button>
    </form>
    <br>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>

        <tbody>
            {% for robot in robots %}
            <tr>
                <td>{{ robot.id }}</td>
                <td>{{ robot.robot_name }}</td>
                <td><form action="{% url 'edit-robot' robot.id %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">EDIT</button>
                    </form>
                </td>
                <td><form action="{% url 'remove-robot' robot.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">REMOVE</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}